<div class="row">
    <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
        <div class="btn-group">
            <button class="btn btn-primary" ng-show="connection != null" ng-click="addBlock()"><span class="glyphicon glyphicon-plus"></span> Add chart</button>
        </div>
    </div>
</div>
<div class="row">
    <ul ui-sortable="sortableOptions" ng-model="data.blocks" class="list-unstyled charts">
        <li ng-repeat="item in data.blocks" ng-class="{'two-row': item.size.row == 2, 'col-lg-12 col-md-12 col-sm-12 col-xs-12': item.size.cel == 2}" class="one-row chart-cel col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>
                <div class="btn-group control-buttons">
                    <button class="btn btn-default" style="color: #8b0000" ng-click="chartRemove($index)"><span class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-default" ng-click="chartEdit($index)"><span class="glyphicon glyphicon-edit"></span></button>
                    <div class="handle btn btn-default"><span class="glyphicon glyphicon-list"></span></div>
                </div>
                <chart chart-type="'StockChart'" chart-data="item.data" chart-height="item.size.row*400"></chart>
            </div>
        </li>
    </ul>
</div>